[submodule "external/MemoryModule"]
	path = external/MemoryModule
	url = https://github.com/fancycode/MemoryModule.git
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/tp_stubz"]
	path = external/tp_stubz
	url = ../tp_stubz
